
body{
    display: flex;
    flex-wrap: wrap;
    background: black;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    
}
.cont
{
    width: 500px;
    height: auto;
    background: cornflowerblue;
    margin: 6px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    
}
.pclass{
    width: 498px;
    background:whitesmoke;
    margin-left: 1px;
    margin-top: 4px;
    font-size: 17px; 
    flex-wrap: wrap;    

}
h1
{
    text-align: center;
    margin-top: 2px;
}
